<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.login.repository.itf.RegisterRAO">
    <select id="checkLoginIdDuplicated" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT loginId
        FROM member
        WHERE loginId = #{loginId}
    </select>

    <select id="checkEmailDuplicated" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT email
        FROM member
        WHERE email = #{email}
    </select>

    <insert id="registerMember" parameterType="RegisterMemberDTO">
        INSERT INTO member( loginId, password, tempPassword, salt, email,
                            name, regDate, updDate)
        VALUES ( #{loginId}, #{password}, false, #{salt}, #{email},
        #{name}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

</mapper>